h1{
  color: red;
}
h2{
  color: red;
}

.animal-header {
  color: red;
  cursor:pointer;
}
p{
  color: red;
}
body {
  background-image: url(http://wallpapercave.com/wp/gbhC37v.jpg);
}

#betta-header:hover {
  cursor:pointer;
}

ol{
  color: red;
  display: none;
  font-size: 20px;
  background-color: #fff;
}
